<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="/Users/zjp/WebstormProjects/fbe-selfheath/app/view/dep/tqqStyle.css">-->
    <link rel="stylesheet" href="/home/zj/work/fbe-selfheath/app/view/dep/tqqStyle.css">
</head>
<body>
<div class="reportHead">
    <div class="clearfix">
        <div class="yyLogo">
            <!--<img src="/Users/zjp/WebstormProjects/fbe-selfheath/app/view/dep/mlogo.png" alt="">-->
            <img src="{{report.header.logo}}" alt="">
            <span>|</span>
            <span>健康生活，自我管理</span>
        </div>
        <span>{{report.header.name}}</span>
    </div>
    <div class="headLine"></div>
</div>
</body>
</html>